{% extends 'base.html.twig' %}

{% block title %}Pose{% endblock %}

{% block body %}
    <h1>Pose</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pose.id }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ pose.num }}</td>
            </tr>
            <tr>
                <th>Pose</th>
                <td>{{ pose.pose }}</td>
            </tr>
            <tr>
                <th>Memo</th>
                <td>{{ pose.memo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pose_index') }}">back to list</a>

    <a href="{{ path('app_pose_edit', {'id': pose.id}) }}">edit</a>

    {{ include('pose/_delete_form.html.twig') }}
{% endblock %}
